.module-gallery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15vh 10vw 0;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1440px + 20vw)
}

.module-gallery .gallery {
    position: relative;
    width: 100%
}

.module-gallery .gallery img,
.module-gallery .gallery video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: middle
}

.module-gallery .info {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 170px;
    margin-left: 30px;
    font-size: 12px
}

.module-gallery .info p {
    font-size: 14px;
    line-height: 1.4em
}

.module-gallery .pagination {
    margin-bottom: 20px
}

.module-gallery .pagination button {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: none;
    background: none;
    outline: none;
    cursor: pointer
}

.module-gallery .pagination .btn-gallery-left {
    transform: translateY(1px)
}

.module-gallery .pagination .current {
    padding-left: 10px
}

.module-gallery .pagination .total {
    padding-right: 10px
}

.module-gallery .title {
    margin-bottom: 15px
}

@media screen and (max-width:1024px) {
    .module-gallery {
        padding-top: 20vw
    }
}

@media screen and (max-width:767px) {
    .module-gallery {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 15vw;
        padding-left: 30px;
        padding-right: 30px
    }

    .module-gallery .info {
        margin-top: 5vw;
        margin-left: 0;
        width: 100%
    }

    .module-gallery .info p {
        font-size: 16px;
        line-height: 1.4em
    }

    .module-gallery .pagination {
        width: 50%;
        float: right;
        margin-bottom: 5vw;
        text-align: right
    }

    .module-gallery .title {
        width: 50%;
        float: left;
        margin-bottom: 5vw
    }

    .module-gallery .description {
        clear: both
    }
}