.module-project {
    padding: 15vh 10vw calc(128px + 15vh);
    max-width: calc(1440px + 20vw);
    margin-left: auto;
    margin-right: auto;
    text-align: right
}

.module-project a {
    display: block;
    color: #000;
    text-decoration: none
}

.module-project a:hover .project-name {
    color: #000
}

.module-project .next-project {
    font-weight: 500
}

.module-project .next-project,
.module-project .project-name {
    font-family: Druk Wide Web;
    font-style: normal;
    font-stretch: normal
}

.module-project .project-name {
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 9vw;
    letter-spacing: .02em;
    line-height: .9em;
    transition: color .2s ease-in-out
}

@media screen and (min-width:1441px) {
    .module-project .project-name {
        font-size: 130px
    }
}

@media screen and (max-width:1024px) {
    .module-project {
        padding: 15vh 10vw
    }
}

@media screen and (min-width:768px) {
    .module-project a {
        perspective: 100vw
    }

    .module-project a:hover .project-name {
        transform: rotateY(0deg) translateZ(0)
    }

    .module-project .project-name {
        transform: rotateY(-45deg) translateZ(0);
        transform-origin: right center;
        transition: color .2s ease-in-out, transform .5s
    }

    @supports (-webkit-text-stroke:2px #000) or (text-stroke:2px #000) {
        .module-project .project-name {
            color: transparent;
            -webkit-text-stroke: 2px #000;
            text-shadow: 2px #000
        }
    }

    .module-project.reveal-show .project-name {
        transform: rotateY(-35deg) translateZ(0)
    }
}

@media screen and (max-width:767px) {
    .module-project {
        padding-left: 30px;
        padding-right: 30px
    }

    .module-project .project-name {
        font-size: 40px
    }

    @supports (-webkit-text-stroke:1px #000) or (text-stroke:1px #000) {
        .module-project .project-name {
            color: transparent;
            -webkit-text-stroke: 1px #000;
            text-shadow: 1px #000
        }
    }
}